[build-system]
requires = ["pdm-pep517>=0.12.0"]
build-backend = "pdm.pep517.api"

[project]
name = "{{ subpackage_distribution_name }}"
description = "{{ subpackage_description }}"
authors = [
    {name = "{{ author_fullname }}", email = "{{ author_email }}"}
]
readme = "README.md"
requires-python = ">=3.9,<3.10"
version = "0.0.1"
license = { text = "UNSPECIFIED" }
dependencies = [
    "-e ./../util",
    "omegaconf>=2.2.0",
    "attrs>=21.4.0",
    "invoke>=1.7.0",
]

[project.scripts]
{{ subpackage_command_line_name }} = "{{ subpackage_import_name }}.cli:main"

[tool.pdm]
package-dir = "src"
editable-backend = "editables"

[tool.pdm.dev-dependencies]
format = [
    "autoflake>=1.4",
    "black>=21.10b0",
    "isort>=5.10",
]
quality = [
    "darglint>=1.8",
    "flake8-bandit>=2.1",
    "flake8-black>=0.2",
    "flake8-bugbear>=21.9",
    "flake8-builtins>=1.5",
    "flake8-comprehensions>=3.7",
    "flake8-docstrings>=1.6",
    "flake8-pytest-style>=1.5",
    "flake8-string-format>=0.3",
    "flake8-tidy-imports>=4.5",
    "flake8-variables-names>=0.0",
    "pep8-naming>=0.12",
    "wps-light>=0.15",
]
tests = [
    "pytest>=6.2",
    "pytest-cov>=3.0",
    "pytest-randomly>=3.10",
    "pytest-xdist>=2.4",
]
typing = [
    "mypy>=0.910",
    "types-markdown>=3.3",
    "types-toml>=0.10",
]

[tool.black]
line-length = 120
exclude = "tests/fixtures"

[tool.isort]
line_length = 120
multi_line_output = 3
force_single_line = false
balanced_wrapping = true
default_section = "THIRDPARTY"
known_first_party = "{{ python_package_import_name }}"
include_trailing_comma = true
