from attrs import define, field
from util.config import Config, PathConfig

@define
class {{ config_class_name }}():
    """
    A dataclass carrying configuration fields and defaults.
    As described here: https://omegaconf.readthedocs.io/en/2.1_branch/structured_config.html
    """
    example_str : str = "Default Value"
    example_int : int = 12

# Add to the configuration manager
Config.register(
    {{ config_class_name }},
    interpolation_key = "{{ config_interpolation_key }}",
    conf_file = "{{ config_file_name }}",
    conf_deps = [PathConfig],
)